<html>
    <head>
        <title></title>
    </head>
    <body>
        <form action="/" method="POST">
        <div class="form-group">
            <label for="say">Say:</label>
            <input type="text" name="say" value="Hi">
        </div>
        <div class="form-group">
            <label for="to">To:</label>
            <input type="text" name="to" value="Express Forms">
        </div>
        <button type="submit">Send my greetings</button>
        </form>
    </body>
</html>