<html>
<head>
    <title>Protected</title>
</head>
<body>
<div>
   Hey {{id}}, How are you doing today?
</div>
<div>
    Want to log out?
</div>
<div>
    <a href="/logout">Logout</a>     
</div>
</body>
</html>
